* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

form {
    width: 100%;
    max-width: 300px;
    min-height: 430px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 2px 10px 25px 0px rgba(0, 0, 0, 0.7);
}

label,
input,
button,
textarea {
    display: block;
    width: 100%;
}

select,
input,
button,
textarea {
    border: none;
    outline: none;
    border: 1px solid rgb(102, 130, 139);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgb(231, 229, 231);
}

select:hover,
input:hover,
button:hover,
textarea:hover {
    border-color: rgb(18, 233, 86);
}

textarea {
   min-height: 80px;
   resize: none;
}

button {
    background-color: rgb(187, 198, 92);
    margin-top: 20px;
}