 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
caption{
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}

 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px 15px;
    text-align: center;
  }
  th{
    color: rgb(156, 59, 59);
  }