* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.game-app {
    background-color: rgb(135, 217, 222);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

body,
header,
.game-container,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
footer {
    width: calc(100% - 60px);
    height: 35px;
    background-color: lightgreen;
    border-radius: 3px;
}

.game-container {
    width: 100%;
    max-width: 450px;
    height: 500px;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    gap: 15px;
    padding: 2px;
}

.game-info,
.btns {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-info {
    padding: 5px;
    background-color: lightblue;
}

.cards-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}



.card {
    width: 100%;
    height: 100%;
    background-color: orange;
    border-radius: 5px;
}

.animate {
    transform: scaleX(-1);
    background-color: lightblue;
    transition: 0.5s;
}

.btns {
    padding: 0 10px;
}

.reset-btn,
.hard-btn {
    height: 100%;
    width: 45%;
}

/*===========*/

button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}